<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--XML log location.-->
    <add key="LogLocation" value="Logs//Sample.xml"/>
    <!--Notification plugin name.-->
    <add key="notofication-plugin" value="SamplePlugin"/>
    <!--Maximum number of allowed username attempts.-->
    <add key="allowed-username-attempts" value="2"/>
    <!--Maximum allowed period (minutes) for same user name attempts.-->
    <add key="same-username-attempts-period" value="2"/>
    <!--Maximum allowed period (minutes) for multiple user name attempts.-->
    <add key="multiple-username-attempts-period" value="2"/>
  </appSettings>
</configuration>